[Unit]
Description=OrgBot Discord Service

[Service]
User=root
WorkingDirectory=/
ExecStart=/root/OrgBot/OrgBot
Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
